p Name: #{image[0]["name"]}

p #{frames[image[0]["mod"]]["path"]}


img class="imageMain" src="/#{image[0]["path"]}" alt="image#{image[0][:id]}" 
img src="/#{frames[image[0]["mod"]]["path"]}" class="frameMain"
/ img src="/img/IMG_20200310_134601798.jpg"